ACTION=="add|remove", SUBSYSTEM=="usb", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/pliski/.Xauthority" RUN+="/usr/bin/su pliski -c '/home/pliski/.local/bin/usb-notify.sh $parent $devpath'"   
