# /etc/udev/rules.d/60-onbattery.rules
# Rule for when switching to battery
SUBSYSTEM=="power_supply",ENV{POWER_SUPPLY_ONLINE}=="0", ENV{XAUTHORITY}="/home/pliski/.Xauthority" RUN+="/usr/bin/su pliski -c '/home/pliski/.local/bin/battery-notify.sh $parent $devpath'"
